<!-- ============================================ --><!--                Contact Form                  --><!-- ============================================ -->
<section id="cs-contact-490">
  <div class="cs-container">
    <!-- Contact Info -->
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Contact Information</h2>
      <p class="cs-text">
        We carefully review requests for representation and will reach out if
        we’re interested in setting up a meeting. If you have any specific
        questions, don’t hesitate to contact us via email
      </p>

      <!--Address-->
      <span class="cs-header">Reach Directly</span>
      <p class="text-base">Arsham (Ari) Saeidi-Pour</p>
      <a href="mailto:Ari@mintmantis.com" class="cs-link">Ari@mintmantis.com</a>
      <!--Email-->
      <!-- <span class="cs-header">Artists</span>
      <a href="mailtp:apply@mintmantis.com" class="cs-link"
        >apply@mintmantis.com</a
      > -->
      <!--General inquiries-->
      <span class="cs-header"
        >General Inquiries, Partnerships & Sponsorships
      </span>
      <a href="mailto:info@mintmantis.com" class="cs-link"
        >info@mintmantis.com</a
      >

      <!--Social Buttons-->
      <div class="cs-social">
        <a class="cs-social-link" aria-label="visit google profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg"
            alt="google"
            width="11"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit facebook profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg"
            alt="facebook"
            width="6"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit instagram profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg"
            alt="instagram"
            width="11"
            height="11"
          />
        </a>
      </div>
    </div>
    <!-- Form -->
    <form id="cs-form-490" name="Contact Form" method="POST" data-netlify="true" netlify>
      <label class="cs-label">
        Name
        <input
          class="cs-input"
          required
          type="text"
          id="name-490"
          name="name"
          placeholder="John/Jane Doe"
        />
      </label>
      <label class="cs-label">
        Email
        <input
          class="cs-input"
          required
          type="text"
          id="email-490"
          name="email"
          placeholder="name@company.com"
        />
      </label>
      <label class="cs-label">
        Phone (optional)
        <input
          class="cs-input"
          type="text"
          id="phone-490"
          name="phone"
          placeholder="+1 (780) 987-6543"
        />
      </label>
      <label class="cs-label">
        Website (optional)
        <input
          class="cs-input"
          type="text"
          id="find-490"
          name="website"
          placeholder="mintmantis.com"
        />
      </label>
      <label class="cs-label -label-message">
        Tell us about yourself
        <textarea
          class="cs-input"
          required
          name="Message"
          id="message-490"
          placeholder="Write a short description about yourself, your talent type, and experience"></textarea>
      </label>
      <button class="cs-button-solid" type="submit">Submit Message Now</button>
    </form>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cs-contact-490 {
      padding: var(--sectionPadding);
    }
    #cs-contact-490 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
    }
    #cs-contact-490 .cs-content {
      max-width: 32.625rem;
      text-align: left;
    }
    #cs-contact-490 .cs-text {
      /* 16px - 48px */
      margin: 0 0 clamp(1rem, 4.4vw, 3rem) 0;
    }
    #cs-contact-490 .cs-header {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.5vw, 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin: 0 0 1rem 0;
      color: #000000;
      display: block;
    }
    #cs-contact-490 .cs-link {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      text-decoration: none;
      line-height: 1.5em;
      font-weight: 300;
      /* 16px - 32px */
      margin: 0 0 clamp(1rem, 2.5vw, 2rem);
      color: var(--headerColor);
      display: block;
    }
    #cs-contact-490 .cs-link:hover {
      text-decoration: underline;
    }
    #cs-contact-490 .cs-link:last-of-type {
      margin-bottom: 0;
    }
    #cs-contact-490 .cs-social {
      /* 32px - 80px */
      margin-top: clamp(2rem, 6vw, 5rem);
      display: inline-flex;
      justify-content: flex-start;
      gap: 0.75em;
    }
    #cs-contact-490 .cs-social-link {
      /* 32px - 52px */
      width: clamp(2rem, 4vw, 3.25rem);
      height: clamp(2rem, 4vw, 3.25rem);
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: transform 0.3s, background-color 0.3s;
    }
    #cs-contact-490 .cs-social-link:hover {
      background-color: var(--primary);
      transform: translateY(-0.1875rem);
    }
    #cs-contact-490 .cs-social-img {
      /* 14px - 24px */
      height: clamp(0.875rem, 2vw, 1.5rem);
      width: auto;
      display: block;
    }
    #cs-contact-490 #cs-form-490 {
      width: 100%;
      max-width: 40.625rem;
      /* 32px - 40px */
      margin-bottom: clamp(2rem, 5.3vw, 2.5rem);
      /* 20px - 40px */
      padding: clamp(1.25rem, 4.5vw, 2.5rem);
      /* prevents padding from affecting width and height */
      box-sizing: border-box;
      border: 1px solid #dad9e3;
      border-radius: 1rem;
    }
    #cs-contact-490 .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.3vw, 1rem);
      line-height: 1.5em;
      font-weight: 700;
      /* 16px - 20px */
      margin-bottom: clamp(1rem, 1em, 1.25rem);
      color: var(--headerColor);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
    #cs-contact-490 .cs-label-message {
      /* 32px - 40px */
      margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
    }
    #cs-contact-490 .cs-input,
    #cs-contact-490 textarea {
      font-size: 1rem;
      width: 100%;
      height: 4rem;
      margin-top: 0.25rem;
      padding-left: 1.25rem;
      /* set transparent border so on hover border doesn't make it glitch */
      border: 1px solid transparent;
      border-bottom: 1px solid #b4b2c7;
      /* prevents border & padding from affecting height */
      box-sizing: border-box;
      transition: border 0.3s;
    }
    #cs-contact-490 .cs-input:hover,
    #cs-contact-490 textarea:hover {
      border: 1px solid var(--primary);
    }
    #cs-contact-490 .cs-input::placeholder,
    #cs-contact-490 textarea::placeholder {
      color: #7d799c;
    }
    #cs-contact-490 textarea {
      font-family: inherit;
      margin: 0;
      padding-top: 1.25rem;
      min-height: 7.5rem;
    }
    #cs-contact-490 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      width: 100%;
      color: #fff;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border: none;
      border-radius: 0.5rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #cs-contact-490 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.5rem;
      transition: width 0.3s;
    }
    #cs-contact-490 .cs-button-solid:hover {
      cursor: pointer;
    }
    #cs-contact-490 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 700px */
  @media only screen and (min-width: 43.75rem) {
    #cs-contact-490 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
    }
    #cs-contact-490 .cs-content {
      width: 40%;
      /* pushes it to the right */
      order: 2;
      flex: none;
    }
    #cs-contact-490 #cs-form-490 {
      margin: 0;
    }
  }
</style>
