---
const {title, subtitle, link, linkText } = Astro.props;

---
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">{title}</span>
    <!-- <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href={link} class="cs-link cs-active">{title}</a>
    </div> -->
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://ik.imagekit.io/azupnt3mqx/Background-mint-mantis.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://ik.imagekit.io/azupnt3mqx/Background-mint-mantis.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="https://ik.imagekit.io/azupnt3mqx/Background-mint-mantis.webp"
      alt="Mint Mantis - Gradient Background"
      width="1920"
      height="375"
    />
  </picture>
</div>
<style>
  /*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #banner-310 {
      /* 144px - 252px */
      padding-top: clamp(9rem, 25vw, 15.75rem);
      /* 80px - 140px */
      padding-bottom: clamp(5rem, 13vw, 8.75rem);
      position: relative;
      z-index: 1;
    }
    #banner-310 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #banner-310 .cs-int-title {
      /* 39px - 49px */
      font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      max-width: 43.75rem;
      margin: 0 auto 0.75rem;
      color: var(--bodyTextColorWhite);
      position: relative;
    }
    #banner-310 .cs-breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #banner-310 .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #banner-310 .cs-link:last-of-type {
      /* remove the chevron on the last list item */
    }
    #banner-310 .cs-link:last-of-type::after {
      display: none;
    }
    #banner-310 .cs-link:after {
      /* chevron - added as pseudo to make adding and removing them easier */
      content: "";
      width: 0.4375rem;
      height: 0.75rem;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    #banner-310 .cs-link.cs-active {
      color: var(--primaryLight);
    }
    #banner-310 .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
    }
    #banner-310 .cs-background:before {
      /* black overlay box */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.72;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #banner-310 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
</style>

