---
import Button from "../ui/ButtonBlank.astro"
---
<!-- ============================================ --><!--                     CTA                      --><!-- ============================================ -->
<section id="cta-1693">
  <div class="cs-container">
    <div class="cs-content pb-20">
      <h2 class="cs-title">submit your book proposal</h2>
      <div>
        <p class="cs-text pb-8">
          Have a story to tell? Turn your ideas into reality. Submit your book proposal today and take the first step toward becoming a published author. Let us help you bring your vision to life.
        </p>
       <div class="flex items-end justify-end">
        <Button title='Submit Now' link="https://publishizer.com/mint-mantis-inc/proposals/pitch/" target="_blank" />
       </div>
      </div>
    </div>
    <!-- <div class="max-w-screen-xl flex text-right flex-row items-end justify-end">
      <div class="block">
        <a href="" class="block text-white">See More</a>
      </div>
    </div> -->
  </div>
</section>

<style>
  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-1693 {
      padding: var(--sectionPadding);
      background-image: url("/bg-green.png");
      background-size: cover; /* Ensures the image covers the whole area */
      background-position: top; /* Centers the image */
      background-repeat: no-repeat; /* Prevents the image from repeating */
      position: relative;
      overflow: hidden;
    }
    #cta-1693 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-1693 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: grid;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      gap: 1.5rem;
    }
    
#cta-1693::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to your liking */
  z-index: 1; /* Make sure it's on top of the background but behind the content */
}

#cta-1693 .cs-container,
#cta-1693 .cs-content {
  position: relative;
  z-index: 2; /* Ensure content appears above the overlay */
}
    #cta-1693 .cs-title {
      max-width: 30ch;
      margin: 0;
      color: var(--bodyTextColorWhite);
      text-transform: uppercase;
    }
    #cta-1693 .cs-text {
      color: var(--bodyTextColorWhite);
      text-align: left;
    }

    #cta-1693 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--secondary);
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #cta-1693 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cta-1693 .cs-button-solid:hover:before {
      width: 100%;
    }
    #cta-1693 .cs-wrapper {
      width: 100%;
      max-width: 120rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      /* prevents the mouse from interacting with it */
      pointer-events: none;
      transform: translateX(-50%);
    }
    #cta-1693 .cs-graphic {
      width: 23.25rem;
      height: 23.25rem;
      opacity: 0.1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    #cta-1693 .cs-graphic-1 {
      left: -16.3125rem;
    }
    #cta-1693 .cs-graphic-2 {
      right: -16.3125rem;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-1693 .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      grid-template-columns: 1fr 2fr;
      align-items: self-start;
      gap: 8rem;
    }
    #cta-1693 .cs-text{
      max-width: 48rem;
    }
    #cta-1693 .cs-graphic-1 {
      left: -7.8125rem;
    }
    #cta-1693 .cs-graphic-2 {
      right: -7.8125rem;
    }
  }
</style>

