---
import servicesData from "../data/services.json";
---

<!-- ============================================ --><!--                     CTA                      --><!-- ============================================ -->
<div id="services">
  <section id="cta-1073">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <h2 class="cs-title">We Offer</h2>
        </div>
        <div class="grid md:grid-cols-3 gap-12">
          {
            servicesData.services.map((service) => (
              <div class="service-card">
                <div class="service-card-body pt-8">
                 <div class="service-card-header">
                  <h3>{service.title}</h3>
                  <p>{service.subtitle}</p>
                 </div>
                  <p>{service.description}</p>
                  <a href={service.link} class="cs-button-solid">
                    Learn More
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</div>
<style>
  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-1073 {
      padding: var(--sectionPadding);
      background-color: var(--bgColor2);
      position: relative;
      z-index: 1;
    }
    #cta-1073 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-1073 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-1073 .cs-flex {
      max-width: 1200px;
    }

    #cta-1073 .cs-title {
      margin: 0;

      color: var(--bodyTextColorWhite);
    }
    #cta-1073 .cs-button-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    #cta-1073 .cs-button-solid{
      width: fit-content;
    }
    #cta-1073 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cta-1073 .cs-button-solid:hover:before {
      width: 100%;
    }
    #cta-1073 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #cta-1073 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #1a1a1a;
      opacity: 0.88;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #cta-1073 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    background-color: #c9df4d1a;
    color: var(--bodyTextColorWhite);
    padding: 1.5rem;
    border-radius: 20px;
  }
  .service-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .service-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
  }
  @media screen and (min-width: 700px) {
    .service-card {
      justify-content: space-between;
      text-align: left;
      align-items: start;
    }
    #cta-1073 .cs-button-box {
      justify-content: left;
    }
    #cta-1073 .cs-content {
      align-items: flex-start;
    }
  }
</style>
