---
import { AstroSeo } from '@astrolib/seo';
import InnerHero from '../components/sections/InnerHero.astro';
import Layout from "../layouts/Layout.astro";
import Line from "../components/ui/Line.astro";

import AboutCTA from "../components/sections/about/AboutCTA.astro";
import AboutPrinciples from "../components/sections/about/AboutPrinciples.astro";
import ContactFormAlt from "../components/sections/ContactFormAlt.astro";
import TwoColumnAlt from "../components/sections/about/two-column-alt.astro";
import BookCall from '../components/sections/BookCall.astro';
import SmartPub from '../components/sections/home/SmartPub.astro';
import SubmitCTA from '../components/sections/SubmitCTA.astro';

---
<AstroSeo title="About Us | Mint Mantis" description="Mint Mantis helps authors build a strong foundation for publishing success with expert support in crowdfunding, marketing, and platform building." />

<Layout>
	<InnerHero title="About Us" subtitle="Our journey started with a passion for unlocking creative potential, and we remain focused on making the creative process more accessible and effective" link=""/>
	<TwoColumnAlt/>
	<AboutCTA/>
	<AboutPrinciples/>

	<SmartPub/>
	<SubmitCTA/>
	<div class="cs-container">
		<Line />
	  </div>
	<BookCall/>
	<div class="cs-container">
		<Line />
	  </div>
	<ContactFormAlt/>
</Layout>
