---

import InnerHero from "../components/sections/InnerHero.astro";
import Line from "../components/ui/Line.astro";
import Layout from "../layouts/Layout.astro";

import AccessCTA from "../components/sections/authors/AccessCTA.astro";
import AuthorsCTA from "../components/sections/authors/AuthorsCTA.astro";
import AuthorsSmartPub from "../components/sections/authors/AuthorsSmartPub.astro";
import BookCall from "../components/sections/BookCall.astro";
import ContactFormAlt from "../components/sections/ContactFormAlt.astro";
import SubmitCTA from "../components/sections/SubmitCTA.astro";
import SmartPub from "../components/sections/home/SmartPub.astro";
import TwoColumn from "../components/sections/authors/two-column.astro";
import WhyUs from "../components/sections/authors/WhyUs.astro";
---

<Layout>
  <InnerHero
    title="Publish Smart, Not Fast"
    subtitle="Build a strong foundation for your book's success before it even hits the shelves"
  />
  <TwoColumn/>
  <AuthorsCTA/>
  <AuthorsSmartPub/>
  <AccessCTA/>
  <WhyUs/>
  <SubmitCTA/>
  <SmartPub/>
  <div class="cs-container">
    <Line />
  </div>
  <BookCall/>
  <div class="cs-container">
    <Line />
  </div>
  <ContactFormAlt />
</Layout>
