---
import { AstroSeo } from '@astrolib/seo';

import Banner from "../components/sections/Banner.astro";
import BookCall from "../components/sections/BookCall.astro";
import CTA from "../components/sections/CTA.astro";  
import ContactFormAlt from "../components/sections/ContactFormAlt.astro";
import Hero from "../components/sections/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Line from "../components/ui/Line.astro";
import Logos from "../components/sections/home/Logos.astro";
import SmartPub from "../components/sections/home/SmartPub.astro";
import SecondaryNav from "../components/sections/home/SecondaryNav.astro";
import Services from "../components/sections/home/Services.astro";
import Testimonials from "../components/sections/home/Testimonials.astro";
import Updates from "../components/sections/home/Updates.astro";
import Projects from "../components/sections/home/Projects.astro";
import SubmitCTA from "../components/sections/SubmitCTA.astro";
---

<AstroSeo title="Mint Mantis | Publishing, Artist Management, Sponsorships" description="Mint Mantis empowers artists with the resources, skills, and guidance to turn their art into a thriving business." />

<Layout>
  <Hero/>
  <Updates />
  <div class="cs-container">
    <Line />
  </div>
  <SecondaryNav />
  <SubmitCTA />
  <Services />
  <CTA/>
  <Projects/>
  <div class="cs-container">
    <Line />
  </div>
  <SmartPub />
  <div class="cs-container">
    <Line />
  </div>
  <Testimonials />
  <div class="cs-container">
    <Line />
  </div>
  <Logos/>
  <div class="cs-container">
    <Line />
  </div>
  <BookCall />
  <div class="cs-container">
    <Line />
  </div>
  <ContactFormAlt />
</Layout>
