---
import Banner from "../sections/Banner.astro";
import BookCall from "../sections/BookCall.astro";
import CTA from "../sections/CTA.astro";  
import ContactFormAlt from "../sections/ContactFormAlt.astro";
import Hero from "../sections/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Line from "../components/ui/Line.astro";
import Logos from "../sections/home/Logos.astro";
import SecondaryNav from "../sections/home/SecondaryNav.astro";
import Services from "../sections/home/Services.astro";
import WeDo from "../sections/WeDo.astro";
import WeOffer from "../sections/WeOffer.astro";
import Testimonials from "../sections/home/Testimonials.astro";
import Updates from "../sections/home/Updates.astro";
---

<Layout>
  <Hero title="Mint Mantis" subtitle="[Description Here]" link="" linkText="Learn More"/>
  <Updates />
  <div class="cs-container">
    <Line />
  </div>
  <SecondaryNav />
  <div class="cs-container">
    <Line />
  </div>
  <Services />
  <CTA/>
  <!-- <WeDo />
  <WeOffer /> -->
  <Testimonials />
  <div class="cs-container">
    <Line />
  </div>
  <Logos/>
  <div class="cs-container">
    <Line />
  </div>
  <BookCall />
  <ContactFormAlt />
</Layout>
