<!-- ============================================ --><!--                 Why Choose                   --><!-- ============================================ -->
<section id="why-choose-440">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Our Principles</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.235 2.374c-.368.152-.697.482-1.356 1.14c-.659.66-.989.989-1.14 1.356a2 2 0 0 0 0 1.531c.151.368.48.697 1.14 1.356c.658.659.988.989 1.356 1.14a2 2 0 0 0 1.53 0c.368-.151.697-.48 1.356-1.14s.988-.988 1.14-1.356a2 2 0 0 0 0-1.53c-.152-.368-.48-.697-1.14-1.356s-.988-.989-1.356-1.141a2 2 0 0 0-1.53 0M4.87 8.738c-.367.152-.697.481-1.355 1.14c-.66.66-.989.989-1.141 1.356a2 2 0 0 0 0 1.531c.152.368.482.697 1.14 1.356c.66.659.989.988 1.356 1.14a2 2 0 0 0 1.531 0c.368-.152.697-.481 1.356-1.14s.988-.988 1.14-1.356a2 2 0 0 0 0-1.53c-.152-.368-.48-.698-1.14-1.357s-.988-.988-1.356-1.14a2 2 0 0 0-1.53 0m11.372 1.14c-.659.66-.988.989-1.14 1.356a2 2 0 0 0 0 1.531c.152.368.481.697 1.14 1.356s.989.988 1.356 1.14a2 2 0 0 0 1.53 0c.368-.152.698-.481 1.357-1.14s.987-.988 1.14-1.356a2 2 0 0 0 0-1.53c-.153-.368-.481-.698-1.14-1.357c-.66-.659-.989-.988-1.356-1.14a2 2 0 0 0-1.531 0c-.367.152-.697.481-1.356 1.14m-5.008 5.224c-.368.152-.697.482-1.356 1.14c-.659.66-.989.989-1.14 1.357a2 2 0 0 0 0 1.53c.151.368.48.697 1.14 1.356c.658.659.988.989 1.356 1.14a2 2 0 0 0 1.53 0c.368-.151.697-.48 1.356-1.14s.988-.988 1.14-1.356c.203-.49.203-1.04 0-1.53c-.152-.368-.48-.698-1.14-1.356c-.659-.66-.988-.989-1.356-1.141a2 2 0 0 0-1.53 0" />
            </svg>
          </picture>
          <h3 class="text-2xl text-center">Integrity</h3>
          <span class="cs-desc"
            >We uphold honesty and transparency in every interaction</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20c0-1.657-2.239-3-5-3s-5 1.343-5 3m14-3c0-1.23-1.234-2.287-3-2.75M3 17c0-1.23 1.234-2.287 3-2.75m12-4.014a3 3 0 1 0-4-4.472m-8 4.472a3 3 0 0 1 4-4.472M12 14a3 3 0 1 1 0-6a3 3 0 0 1 0 6" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Collaboration</h3>
          <span class="cs-desc"
            >We believe in the power of partnerships to drive growth</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4h-.8c-1.12 0-1.68 0-2.108.218a2 2 0 0 0-.874.874C4 5.52 4 6.08 4 7.2v9.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218H8M8 4h8.8c1.12 0 1.68 0 2.107.218c.377.192.683.497.875.874c.218.427.218.987.218 2.105v9.607c0 1.118 0 1.677-.218 2.104a2 2 0 0 1-.875.874c-.427.218-.986.218-2.104.218H8M8 4v16m4-9h4m-4-3h4" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Innovation</h3>
          <span class="cs-desc"
            >We foster innovative solutions tailored to individual needs</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19c0-2.21-2.686-4-6-4s-6 1.79-6 4m18-9l-4 4l-2-2m-6 0a4 4 0 1 1 0-8a4 4 0 0 1 0 8" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Sustainability</h3>
          <span class="cs-desc"
            >We prioritize long-term success over quick wins</span
          >
        </a>
      </li>
    </ul>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #why-choose-440 {
      padding: var(--sectionPadding);
      background-color: #fafbfc;
    }
    #why-choose-440 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #why-choose-440 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      /* align-items: center; */
    }
    #why-choose-440 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #why-choose-440 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 600;
      line-height: 1.2em;
      text-align: left;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #why-choose-440 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #why-choose-440 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 1rem;
      background-color: #fff;
      border: 1px solid #dad9e3;
      /* box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12); */
      /* 12px - 20px */
      /* gap: clamp(0.75rem, 1.5vw, 1.25rem); */
    }
    #why-choose-440 .cs-item {
      list-style: none;
      width: 48%;
      /* changes on tablet */
      max-width: 28.875rem;
      /* 24px - 40px top & bottom */
      /* 24px - 40px left & right */
      padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      position: relative;
      transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s,
        border 0.3s;
    }
    /* #why-choose-440 .cs-item:before {
      content: "";
      width: 100%;
      height: 100%;
      background: transparent;
      border: 4px solid var(--primary);
      border-radius: 0.75rem;
     
      box-sizing: border-box;

      pointer-events: none;
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      transition: opacity 0.3s;
    } */
    /* #why-choose-440 .cs-item:hover {
      background-color: #fff;
      transform: translateY(-0.4375rem);
      border-color: var(--primary);
    } */
    #why-choose-440 .cs-item:hover:before {
      opacity: 1;
    }
    #why-choose-440 .cs-link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #why-choose-440 .cs-picture{
      /* 40px - 72px */
      width: clamp(2.5rem, 6.5vw, 4.5rem);
      /* 40px - 72px */
      height: clamp(2.5rem, 6.5vw, 4.5rem);
      margin: 0;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      
      position: relative;
      z-index: 1;
    }
    #why-choose-440 .cs-picture svg {
        color: var(--primary);
    }
    #why-choose-440 .cs-icon {
      /* 24px - 32px */
      height: clamp(1.5rem, 2vw, 2rem);
      width: auto;
    }
    #why-choose-440 .cs-number {
      font-size: var(--headerFontSize);
      font-weight: 400;
      text-align: center;
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 0.25rem;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #why-choose-440 .cs-desc {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      text-align: center;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-choose-440 .cs-container {
      max-width: 80rem;
    }
    #why-choose-440 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
    }
    #why-choose-440 .cs-item {
      width: 100%;
      max-width: 25.8125rem;
    }
  }
</style>

