<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container flex justify-center items-center mx-auto flex-col">
        <div class="logo"> 
            <h1 class="cs-title">
                <img src="https://ik.imagekit.io/azupnt3mqx/Mint-Mantis-logo.webp" alt="Mint Mantis Logo Text" width="300" class="mint-logo">
                <img src="https://ik.imagekit.io/azupnt3mqx/mint-mantis-logoText.webp" alt="Mint Mantis Logo Text" width="300" class="mint-logo-text">
            </h1>
        </div>
        <header class="hidden sm:block">
            <nav class="text-white flex gap-16 lg:gap-32">
                <a href="#projects">Projects</a>
                <!-- <a href="#weare">We are</a> -->
                <a href="#wedo">We do</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>
    </div>
</section>
<style>
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-229 {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: url("https://ik.imagekit.io/azupnt3mqx/Background-mint-mantis.webp");
    background-attachment: cover;
    background-repeat: no-repeat;
  }
  
  #hero-229 .cs-container {
    width: 100%;
    max-width: 80rem;
    padding: clamp(9rem, 25.95vw, 17.5rem) 0;
    margin: auto;
    position: relative;
  }
  
  #hero-229 .cs-title {
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  .mint-logo {
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
  }
    .mint-logo-text {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-229 {
    /* 32px - 40px */
    padding: 0 clamp(2rem, 5vw, 2.5rem);
  }
  #hero-229 .cs-button-solid {
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-229 {
    background: url("https://ik.imagekit.io/azupnt3mqx/Background-mint-mantis.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
  }
}
                                    
</style>                                