<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-307">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get In Touch</h2>
            <p class="cs-text">
                Please fill up this form for any inquiry or questions. 
            </p>
            <!-- <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-stroke.svg" alt="icon" width="24" height="24">
                    <a href="tel:555-555-4555" class="cs-link">(555) 555-4555</a>
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/email-stroke.svg" alt="icon" width="24" height="24">
                    <a href="mailto:info@example.com" class="cs-link">info@example.com</a>
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-stroke.svg" alt="icon" width="24" height="24">
                    <a href="" class="cs-link">121 Fake St, Melbourne VIC<br> 3000, Australia</a>
                </li>
            </ul> -->
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-307" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-307" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="text" id="email-307" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-307" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-307" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Make an Appointment</button>
        </form>
    </div>
   
</section>
 <style>
    /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-307 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact-307 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
  }
  #contact-307 .cs-content {
    text-align: left;
  }
  #contact-307 .cs-title {
    color: var(--bodyTextColor);
  }
  #contact-307 .cs-text {
    color: var(--bodyTextColor);
    /* 48px - 64px */
    margin-bottom: clamp(3rem, 6vw, 4rem);
  }
  #contact-307 .cs-ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #contact-307 .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #contact-307 .cs-icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.75rem;
    display: block;
  }
  #contact-307 .cs-link {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  #contact-307 .cs-link:hover {
    color: var(--secondary);
  }
  #contact-307 .cs-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    background: #F3F5E4;
    padding: 40px;
  }
  #contact-307 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-307 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background: rgb(253, 252, 252);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-307 .cs-input::placeholder {
    color: #f7f7f7;
    opacity: 0.5;
  }
  #contact-307 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-307 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact-307 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-307 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-307 .cs-submit {
    text-transform: uppercase;
    width: 100%;
    background-color: var(--primary);
    border: none;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #contact-307 .cs-submit:hover {
    cursor: pointer;
    color: #fff;
  }
  #contact-307 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #contact-307 .cs-background:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.92;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #contact-307 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-307 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: center;
    gap: 4.75rem;
  }
  #contact-307 .cs-content {
    width: 50%;
    max-width: 29.0625rem;
    flex: none;
  }
  #contact-307 .cs-form {
    max-width: 32.625rem;
    border-radius: 5px;
  }
  #contact-307 .cs-submit {
    max-width: 18.125rem;
    margin-left: 0;
    margin-right: auto;
    display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-307 .cs-email,
  #contact-307 .cs-phone {
    width: 48%;
  }
}
/* Desktop - 1300px - Parallax Effect */
@media only screen and (min-width: 81.25rem) {
  #contact-307 {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* makes parallax effect */
    background-attachment: fixed;
  }
}
                                    
</style>                               