<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
          <img src="https://ik.imagekit.io/azupnt3mqx/Mint-Mantis-logo.webp" alt="Mint Mantis Logo" class="w-1/4 mx-auto" height="157.5" width="97.6">
            <h2 class="cs-title">Mint Mantis</h2>
            <p class="cs-text">
              Turning creative ideas into self-sustaining art and literature
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="public/hero_bg.webp">
        <source media="(min-width: 601px)" srcset="public/hero_bg.webp">
        <img decoding="async" src="public/hero_bg.webp" alt="Mint Mantis - Gradient Background" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                

<style>
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1426 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 14.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1426 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1426 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.48;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-1426 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-1426 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  #hero-1426 .cs-content {
    width: 100%;
    max-width: 49.375rem;
  }
  #hero-1426 .cs-topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--secondary);
    display: inline-block;
    position: relative;
  }
  #hero-1426 .cs-title {
    /* 39px - 61px */
    text-transform: capitalize;
    font-family: 'Inria Sans', sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    max-width: 51.8125rem;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-1426 .cs-text {
    /* 16px - 20px */
    font-size: 1.5rem;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(49rem,60vw,60.785rem);
    margin: 0 auto 0;
    margin-bottom: 2rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-1426 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-1426 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-1426 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #hero-1426 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1426 .cs-button1 {
    background-color: var(--secondary);
  }
}
                                                        
</style>                               