---

---

<!-- ============================================ --><!--                   Logos                      --><!-- ============================================ -->
<section id="logos-857">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Our Partners</h2>
    </div>
    <div class="cs-logo-group">
      <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
      <img
        class="cs-logo"
        src="/publishizer-logo.webp"
        alt="logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/the-dock-logo.webp"
        alt="logo"
        width="150"
        height="55"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/still-logo-black.webp"
        alt="logo"
        width="150"
        height="61"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #logos-857 {
      padding: var(--sectionPadding);
    }
    #logos-857 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 50rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #logos-857 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #logos-857 .cs-title {
      margin: 0;
      text-align: left;
    }
    #logos-857 .cs-logo-group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 2.5rem;
    }
    #logos-857 .cs-logo {
      width: 100%%;
      max-width: 9.5rem;
      height: auto;
      margin: 0;
      display: block;
    }
    .cs-logo-group img {
      filter: brightness(100%) contrast(0%) saturate(100%) blur(0px)
        hue-rotate(0deg);
    }
    .cs-logo-group img:hover {
      filter: unset;
    }
  }
  /* Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #logos-857 .cs-container {
      max-width: 80rem;
    }
    #logos-857 .cs-logo-group {
      flex-direction: row;
      gap: 12.5rem;
      align-items: center;
    }
    #logos-857 .cs-logo {
      width: 60%%;
    }
  }
</style>

