---
---

<!-- ============================================ --><!--                  Services                    --><!-- ============================================ -->
<section id="services-28">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <h2 class="cs-title">holistic approach for every project</h2>
        <!-- <div>
          <a href="#" class="block mt-4 text-right">See More</a>
        </div> -->
      </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item joe">
        <a class="cs-link" href="https://thejoecharley.com/" target="_blank">
          <!-- <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/ring.svg" alt="icon" width="82" height="82"> -->
          <h3 class="cs-h3">Joe</h3>
          <p class="primary font-semibold">Artist</p>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item lori">
        <a href="https://publishizer.com/we-can-save-the-world-mars-can-wait/" class="cs-link" target="_blank">
          <!-- <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/leaf.svg" alt="icon" width="82" height="83"> -->
          <h3 class="cs-h3">Lori</h3>
          <p class="primary font-semibold">Author</p>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item claudia">
        <a href="https://publishizer.com/guardians-down-under/" class="cs-link" target="_blank">
          <!-- <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/bubble-wheel.svg" alt="icon" width="82" height="82"> -->
          <h3 class="cs-h3">Claudia</h3>
          <p class="primary font-semibold">Author</p>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item abriella">
        <a href="https://abriellamilazzo.com/" class="cs-link" target="_blank">
          <!-- <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/bubble-wheel.svg" alt="icon" width="82" height="82"> -->
          <h3 class="cs-h3">Abriella</h3>
          <p class="primary font-semibold">Author</p>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
    </ul>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-28 {
      /* Centers the button */
      padding: var(--sectionPadding);
    }
    #services-28 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-28 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #services-28 .cs-title {
      max-width: 18ch;
    }
    #services-28 .cs-text {
      max-width: 38.75rem;
    }
    #services-28 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      gap: 1.25rem;
    }
    #services-28 .cs-item {
      border: 1px solid #000;
      border-radius: 5px;
      /* padding: 20px 20px 40px; */
      background: #f3f5e4;
      margin-bottom: 1.5rem;
      min-height: 350px;
      list-style: none;
      transition: background-color 0.3s;

      flex: 1 1 calc(50% - 1rem);
      display: flex;
      flex-direction: column;
      /* align-items: center; */
    }
    #services-28 .cs-item:hover {
    }
    #services-28 .cs-item:hover .cs-icon {
      /* turns it white */
      filter: grayscale(1) brightness(1000%);
    }
    #services-28 .cs-item:hover .cs-h3 {
      /* color: #fff; */
    }
    #services-28 .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 1.25rem 1.25rem !important;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      /* Prevents padding from affecting height */
      box-sizing: border-box;
      min-height: 350px;
    }
    #services-28 .cs-icon {
      margin-bottom: 1.125rem;
    }
    #services-28 .cs-hover {
      display: none;
    }
    #services-28 .cs-h3 {
      font-size: 1.5rem;
      line-height: 1.2em;
      font-weight: 400;
      text-align: left;
      margin: 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #services-28 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services-28 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #services-28 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* In Between - 500px */
  @media only screen and (min-width: 40.25rem) {
    #services-28 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex-wrap: nowrap;
    }
    #services-28 .cs-item {
      /* Makes borders not affect widths */
      box-sizing: border-box;
      flex: 1 1 calc(50% - 1rem);
    }
  }
  @media only screen and (max-width: 1200px){
    #services-28{
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }
    #services-28 .joe {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-joe-charley-projects.webp");
      
    }
    #services-28 .lori {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-lori.webp");
      background-position: center;
    }
    #services-28 .claudia {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-claudia-clark-author.webp");
    }
    #services-28 .abriella {
      background: url("https://ik.imagekit.io/boxhuwbys/abriella-mint-mantis-2.webp");
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 1200px) {
    .cs-flex {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    #services-28 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 3.75rem;
    }
    #services-28 .cs-item {
      flex: 1 1 calc(25% - 1rem);
    }
    #services-28 .cs-title {
      margin: 0;
    }
    #services-28 .cs-text {
      text-align: left;
    }
    #services-28 .cs-card-group {
      max-width: 100%;
      border: none;
      padding-left: 30%;
    }
    #services-28 .cs-link {
      padding: 2.25rem 0;
    }
    #services-28 .cs-icon {
      margin-bottom: 1.75rem;
    }
  }
  @media screen and (min-width: 1200px) {
    #services-28 .joe:hover {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-joe-charley-projects.webp");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }
    #services-28 .lori:hover {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-lori.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #services-28 .claudia:hover {
      background: url("https://ik.imagekit.io/boxhuwbys/mint-mantis-claudia-clark-author.webp");
      background-size: cover;
      background-repeat: no-repeat;
    }
    #services-28 .abriella:hover {
      background: url("https://ik.imagekit.io/boxhuwbys/abriella-mint-mantis-2.webp");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
</style>
