---
import Button3 from "../../ui/Button3.astro";

---

<!-- ============================================ --><!--                  Services                    --><!-- ============================================ -->
<section id="services-28">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <h2 class="cs-title">Smart Publishing</h2>
      </div>
     <div>
        <p class="cs-text font-semibold">
          Guiding Authors from Manuscript to Market Success with Crowdfunding, Positioning, and Launch Expertise
          </p>
          <p class="cs-text pt-5">
            Smart Publishing is a holistic approach designed to help authors successfully bring their books to market by focusing on the preparation and groundwork before launch. Unlike traditional or hybrid publishing models, Smart Publishing emphasizes early-stage activities, such as building a strong author platform, validating ideas, and securing funding through crowdfunding. 
          </p>
          <div class="mt-4 text-right">
          <Button3 title="See more" link="/about">
          </div>
     </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="/for-authors">
          <h3 class="cs-h3">Smart Publishing</h3>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="/sales-sigma">
          <h3 class="cs-h3">Launchpad</h3>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item">
        <a href="/sales-sigma" class="cs-link">
          <h3 class="cs-h3">
            Workshops <br />
            Webinars <br />
          </h3>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
      <li class="cs-item">
        <a href="/sales-sigma" class="cs-link">
          <h3 class="cs-h3">Courses</h3>
        </a>
        <div class="flex flex-row justify-end items-end">
          <img src="/right.png" alt="Mint Mantis - Right Arrow" height="20" width="40" class="m-2">
        </div>
      </li>
    </ul>
   
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-28 {
      /* Centers the button */
      padding: var(--sectionPadding);
    }
    #services-28 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-28 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #services-28 .cs-title {
      max-width: 18ch;
    }
    #services-28 .cs-text {
      max-width: 38.75rem;
    }
    #services-28 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      gap: 1.25rem;
    }
    #services-28 .cs-item {
      border: 1px solid #000;
      border-radius: 5px;
      /* padding: 20px 20px 40px; */
      background: #f3f5e4;
      margin-bottom: 1.5rem;

      list-style: none;
      transition: background-color 0.3s;

      flex: 1 1 calc(50% - 1rem);
      display: flex;
      flex-direction: column;
      /* align-items: center; */
    }
    #services-28 .cs-item:hover {
      background-color: var(--primary);
    }
    #services-28 .cs-item:hover .cs-icon {
      /* turns it white */
      filter: grayscale(1) brightness(1000%);
    }
    #services-28 .cs-item:hover .cs-h3 {
      /* color: #fff; */
    }
    #services-28 .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 1.25rem 1.25rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      /* Prevents padding from affecting height */
      box-sizing: border-box;
    }
    #services-28 .cs-icon {
      margin-bottom: 1.125rem;
    }
    #services-28 .cs-hover {
      display: none;
    }
    #services-28 .cs-h3 {
      font-size: 1.5rem;
      line-height: 1.2em;
      font-weight: 400;
      text-align: left;
      margin: 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #services-28 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services-28 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #services-28 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* In Between - 500px */
  @media only screen and (min-width: 31.25rem) {
    #services-28 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
    }
    #services-28 .cs-item {
      /* Makes borders not affect widths */
      box-sizing: border-box;
      flex: 1 1 calc(50% - 1rem);
    }
    #services-28 .cs-text:first-of-type{
      font-size: 1.5rem;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 1200px) {
    #services-28 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 3.75rem;
    }
    #services-28 .cs-item {
    flex: 1 1 calc(25% - 1rem);
  }
    #services-28 .cs-title {
      margin: 0;
    }
    #services-28 .cs-text {
      text-align: left;
    }
    #services-28 .cs-card-group {
      max-width: 100%;
      border: none;
    }
    /* #services-28 .cs-link {
      padding: 2.25rem 1.25rem;
    } */
    #services-28 .cs-icon {
      margin-bottom: 1.75rem;
    }
  }
</style>

