---
import QuickData from "../../../data/quick-fixes.json";
---

<section class="cs-container">
  <div class="sm:flex flex-row sm:py-20">
    <div class="column">
      <h2 class="cs-title">
        Tired of quick fixes?
      </h2>
      <p class="text-base sm:max-w-2xl">
        Discover how to make your words work harder for you
      </p>
    </div>
    <div class="grid-container">
      <div class="left mb-8">
      </div>
      <div class="right mb-8">
        <div class="update-card mb-8 lg:mb-0">
          <div class="card-text flex flex-row gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
              <path fill="black" d="M18.404 2.998c-.757-.754-2.077-.751-2.828.005l-1.784 1.791L11.586 7H7a1 1 0 0 0-.939.658l-4 11c-.133.365-.042.774.232 1.049l2 2a1 1 0 0 0 1.049.232l11-4A1 1 0 0 0 17 17v-4.586l2.207-2.207v-.001h.001L21 8.409c.378-.378.586-.881.585-1.415c0-.535-.209-1.038-.588-1.415zm-3.111 8.295A1 1 0 0 0 15 12v4.3l-9.249 3.363l4.671-4.671c.026.001.052.008.078.008A1.5 1.5 0 1 0 9 13.5c0 .026.007.052.008.078l-4.671 4.671L7.7 9H12c.266 0 .52-.105.707-.293L14.5 6.914L17.086 9.5zm3.206-3.208l-2.586-2.586l1.079-1.084l2.593 2.581z" />
            </svg>
           <div>
            <p>{QuickData.points[0].description}</p>
           </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
              <path fill="black" d="M18.404 2.998c-.757-.754-2.077-.751-2.828.005l-1.784 1.791L11.586 7H7a1 1 0 0 0-.939.658l-4 11c-.133.365-.042.774.232 1.049l2 2a1 1 0 0 0 1.049.232l11-4A1 1 0 0 0 17 17v-4.586l2.207-2.207v-.001h.001L21 8.409c.378-.378.586-.881.585-1.415c0-.535-.209-1.038-.588-1.415zm-3.111 8.295A1 1 0 0 0 15 12v4.3l-9.249 3.363l4.671-4.671c.026.001.052.008.078.008A1.5 1.5 0 1 0 9 13.5c0 .026.007.052.008.078l-4.671 4.671L7.7 9H12c.266 0 .52-.105.707-.293L14.5 6.914L17.086 9.5zm3.206-3.208l-2.586-2.586l1.079-1.084l2.593 2.581z" />
            </svg>
          <div>
            <p>{QuickData.points[1].description}</p>
          </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
              <path fill="black" d="M18.404 2.998c-.757-.754-2.077-.751-2.828.005l-1.784 1.791L11.586 7H7a1 1 0 0 0-.939.658l-4 11c-.133.365-.042.774.232 1.049l2 2a1 1 0 0 0 1.049.232l11-4A1 1 0 0 0 17 17v-4.586l2.207-2.207v-.001h.001L21 8.409c.378-.378.586-.881.585-1.415c0-.535-.209-1.038-.588-1.415zm-3.111 8.295A1 1 0 0 0 15 12v4.3l-9.249 3.363l4.671-4.671c.026.001.052.008.078.008A1.5 1.5 0 1 0 9 13.5c0 .026.007.052.008.078l-4.671 4.671L7.7 9H12c.266 0 .52-.105.707-.293L14.5 6.914L17.086 9.5zm3.206-3.208l-2.586-2.586l1.079-1.084l2.593 2.581z" />
            </svg>
           <div>
            <p>{QuickData.points[2].description}</p>
           </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
              <path fill="black" d="M18.404 2.998c-.757-.754-2.077-.751-2.828.005l-1.784 1.791L11.586 7H7a1 1 0 0 0-.939.658l-4 11c-.133.365-.042.774.232 1.049l2 2a1 1 0 0 0 1.049.232l11-4A1 1 0 0 0 17 17v-4.586l2.207-2.207v-.001h.001L21 8.409c.378-.378.586-.881.585-1.415c0-.535-.209-1.038-.588-1.415zm-3.111 8.295A1 1 0 0 0 15 12v4.3l-9.249 3.363l4.671-4.671c.026.001.052.008.078.008A1.5 1.5 0 1 0 9 13.5c0 .026.007.052.008.078l-4.671 4.671L7.7 9H12c.266 0 .52-.105.707-.293L14.5 6.914L17.086 9.5zm3.206-3.208l-2.586-2.586l1.079-1.084l2.593 2.581z" />
            </svg>
           <div>
            <p>{QuickData.points[3].description}</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media only screen and (min-width: 0rem) {
    .cs-title {
      max-width: 30rem;
    }
    .grid-container {
      display: grid;
    }
  }
  @media only screen and (min-width: 48rem) {
    .cs-title {
      font-size: 2rem;
    }
    .grid-container {
      grid-template-columns: 1fr 3fr;
      gap: 7.5rem;
    }
    .update-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  }
</style>
