---
import QuickData from "../../../data/quick-fixes.json";
---

<section class="cs-container">
  <div class="sm:flex flex-row sm:py-20">
    <div class="column">
      <img src="/green-steps-chart.png" alt="Mint Mantis - Green Steps Chart" class="">
    </div>
    <div class="grid-container">
      <div class="left mb-8">
      </div>
      <div class="right mb-8">
        <h2 class="mb-8 cs-title">
          what is green steps?
        </h2>
        <p>
          Green Steps actively involves hotels in regeneration by guiding them to implement eco-friendly practices that restore local ecosystems and involves communities. Through guest engagement and staff training in regenerative operations, hotels can leave a lasting positive impact on both the environment and the surrounding community.
        </p>
        <div class="update-card mb-8 lg:mb-0">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="2rem" viewBox="0 0 24 24">
              <g fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M10 22v-6.57M12 11h.01M12 7h.01M14 15.43V22m1-6a5 5 0 0 0-6 0m7-5h.01M16 7h.01M8 11h.01M8 7h.01" />
                <rect width="16" height="20" x="4" y="2" rx="2" />
              </g>
            </svg>
           <div>
            <h3 class="text-xl font-semibold">
             Hotel
            </h3>
            <p>
              Hotels become pioneers in regenerative tourism by leading initiatives that enhance both guest experiences and local ecosystems
            </p>
           </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="2rem" viewBox="0 0 24 24">
              <g fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <circle cx="12" cy="12" r="10" />
                <path d="M12 2a14.5 14.5 0 0 0 0 20a14.5 14.5 0 0 0 0-20M2 12h20" />
              </g>
            </svg>
          <div>
            <h3 class="text-xl font-semibold">
              Community
            </h3>
            <p>
              Communities thrive as hotels develop long-term partnerships to restore local environments and boost local economies
            </p>
          </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="2rem" viewBox="0 0 24 24">
              <path fill="#95AA26" d="M12 21.942A9.942 9.942 0 1 1 21.942 12A9.953 9.953 0 0 1 12 21.942m0-18.884A8.942 8.942 0 1 0 20.942 12A8.95 8.95 0 0 0 12 3.058" />
              <path fill="#95AA26" d="M16.693 13.744a5.041 5.041 0 0 1-9.387 0c-.249-.59-1.111-.081-.863.505a6.026 6.026 0 0 0 11.114 0c.247-.586-.614-1.1-.864-.505" />
              <circle cx="9" cy="9.011" r="1.25" fill="#95AA26" />
              <circle cx="15" cy="9.011" r="1.25" fill="#95AA26" />
            </svg>
           <div>
            <h3 class="text-xl font-semibold">
              Guests
            </h3>
            <p>
              Guests can be part of positive change by supporting hotels that restore ecosystems
            </p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media only screen and (min-width: 0rem) {
    .cs-title {
      max-width: 80rem;
    }
    .grid-container {
      display: grid;
    }
  }
  @media only screen and (min-width: 48rem) {
    .cs-title {
      font-size: 2rem;
    }
    .grid-container {
      grid-template-columns: 1fr 3fr;
      gap: 7.5rem;
    }
    .update-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  }
</style>
