---
import QuickData from "../../../data/quick-fixes.json";
---

<section class="cs-container">
  <div class="sm:flex flex-row sm:py-20">
    <div class="column">
      <img src="/sales-sigma-img.jpg" alt="">
    </div>
    <div class="grid-container">
      <div class="left mb-8">
      </div>
      <div class="right mb-8">
        <h2 class="mb-8 cs-title">
          How does sales sigma Program work
        </h2>
        <div class="update-card mb-8 lg:mb-0">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4.805 3.555l15.81 4.865c.862.265.96 1.446.153 1.85l-6.7 3.35a1 1 0 0 0-.448.447l-3.35 6.7c-.403.807-1.584.71-1.85-.153L3.555 4.804a1 1 0 0 1 1.25-1.249" />
            </svg>
           <div>
            <h3 class="text-xl font-semibold">
              Online Workshops
            </h3>
            <p>
              Join our online workshops where you’ll participate in interactive sessions, access downloadable resources, and complete practical assignments at your own pace.
            </p>
           </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4.805 3.555l15.81 4.865c.862.265.96 1.446.153 1.85l-6.7 3.35a1 1 0 0 0-.448.447l-3.35 6.7c-.403.807-1.584.71-1.85-.153L3.555 4.804a1 1 0 0 1 1.25-1.249" />
            </svg>
          <div>
            <h3 class="text-xl font-semibold">
              Live Workshops
            </h3>
            <p>
              Attend our live, in-person workshops, engage in hands-on activities, and receive immediate feedback from our experts.
            </p>
          </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4.805 3.555l15.81 4.865c.862.265.96 1.446.153 1.85l-6.7 3.35a1 1 0 0 0-.448.447l-3.35 6.7c-.403.807-1.584.71-1.85-.153L3.555 4.804a1 1 0 0 1 1.25-1.249" />
            </svg>
           <div>
            <h3 class="text-xl font-semibold">
              Key Note Talks
            </h3>
            <p>
              Listen to inspiring keynote talks, either online or in-person, followed by Q&A sessions where you can ask questions and dive deeper into the topics discussed.
            </p>
           </div>
          </div>
        </div>
        <div class="update-card">
          <div class="card-text flex flex-row justify-start items-start gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4.805 3.555l15.81 4.865c.862.265.96 1.446.153 1.85l-6.7 3.35a1 1 0 0 0-.448.447l-3.35 6.7c-.403.807-1.584.71-1.85-.153L3.555 4.804a1 1 0 0 1 1.25-1.249" />
            </svg>
           <div>
            <h3 class="text-xl font-semibold">
              1:1 Coaching
            </h3>
            <p>
              Schedule personalized coaching sessions to work directly with our mentors, focusing on your individual needs and goals, and receive tailored advice to advance your career.
            </p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media only screen and (min-width: 0rem) {
    .cs-title {
      max-width: 80rem;
    }
    .grid-container {
      display: grid;
    }
  }
  @media only screen and (min-width: 48rem) {
    .cs-title {
      font-size: 2rem;
    }
    .grid-container {
      grid-template-columns: 1fr 3fr;
      gap: 7.5rem;
    }
    .update-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  }
</style>
