<!-- ============================================ --><!--                 Why Choose                   --><!-- ============================================ -->
<section id="why-choose-440">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Why Sales Sigma?</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <g fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M3.587 13.779c1.78 1.769 4.883 4.22 8.413 4.22s6.634-2.451 8.413-4.22c.47-.467.705-.7.854-1.159c.107-.327.107-.913 0-1.24c-.15-.458-.385-.692-.854-1.159C18.633 8.452 15.531 6 12 6c-3.53 0-6.634 2.452-8.413 4.221c-.47.467-.705.7-.854 1.159c-.107.327-.107.913 0 1.24c.15.458.384.692.854 1.159" />
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0-4 0" />
              </g>
            </svg>
          </picture>
          <h3 class="text-2xl text-center">Stand Out Instantly</h3>
          <span class="cs-desc"
            >
            Position your product so customers instantly see what makes you unique and whether it’s for them.</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.5 19h11c.465 0 .697 0 .89-.039a2 2 0 0 0 1.571-1.57c.039-.194.039-.426.039-.891s0-.697-.039-.89a2 2 0 0 0-1.57-1.572C18.196 14 17.964 14 17.5 14h-11c-.465 0-.697 0-.89.038a2 2 0 0 0-1.572 1.572C4 15.803 4 16.035 4 16.5s0 .697.038.89a2 2 0 0 0 1.572 1.571c.193.039.425.039.89.039m0-9h11c.465 0 .697 0 .89-.039a2 2 0 0 0 1.571-1.57C20 8.196 20 7.964 20 7.5s0-.697-.039-.89a2 2 0 0 0-1.57-1.572C18.196 5 17.964 5 17.5 5h-11c-.465 0-.697 0-.89.038A2 2 0 0 0 4.038 6.61C4 6.803 4 7.035 4 7.5s0 .697.038.89A2 2 0 0 0 5.61 9.961c.193.039.425.039.89.039" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Align to Sell Better</h3>
          <span class="cs-desc"
            >Empower your team by aligning personal values with corporate identity for more effective sales.</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 15l2 2l4-4M13 3H8.2c-1.12 0-1.68 0-2.108.218a2 2 0 0 0-.874.874C5 4.52 5 5.08 5 6.2v11.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h7.606c1.118 0 1.677 0 2.104-.218c.377-.192.683-.498.875-.874c.218-.428.218-.986.218-2.104V9m-6-6c.286.003.466.014.639.055q.308.075.578.24c.202.124.375.297.72.643l3.126 3.125c.346.346.518.518.642.72q.165.271.24.578c.04.173.051.354.054.639M13 3v2.8c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h2.802m0 0H19" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Close Deals Effectively</h3>
          <span class="cs-desc"
            >Streamline your sales process to reduce stress, cut down decision time, and boost conversions.</span
          >
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24">
              <path fill="none" stroke="#95AA26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8h4a1 1 0 0 1 1 1v11l-3.333-2.769a1 1 0 0 0-.64-.231H9a1 1 0 0 1-1-1v-3m8-5V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v11l3.333-2.77c.18-.148.406-.23.64-.23H8m8-5v4a1 1 0 0 1-1 1H8" />
            </svg>
          </picture>
           <h3 class="text-2xl text-center">Master Values-Based Selling</h3>
          <span class="cs-desc"
            >Move beyond sales techniques—connect identity with strategy for long-term sales success.</span
          >
        </a>
      </li>
    </ul>
  </div>
</section>
<style>
  /*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #why-choose-440 {
      padding: var(--sectionPadding);
      /* background-color: #fafbfc; */
    }
    #why-choose-440 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #why-choose-440 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      /* align-items: center; */
    }
    #why-choose-440 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #why-choose-440 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 600;
      line-height: 1.2em;
      text-align: left;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #why-choose-440 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #why-choose-440 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 1rem;
      background-color: #fafbfc;
      /* box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12); */
      /* 12px - 20px */
      /* gap: clamp(0.75rem, 1.5vw, 1.25rem); */
    }
    #why-choose-440 .cs-item {
      list-style: none;
      width: 48%;
      /* changes on tablet */
      max-width: 28.875rem;
      /* 24px - 40px top & bottom */
      /* 24px - 40px left & right */
      padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      position: relative;
      transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s,
        border 0.3s;
    }
    /* #why-choose-440 .cs-item:before {
      content: "";
      width: 100%;
      height: 100%;
      background: transparent;
      border: 4px solid var(--primary);
      border-radius: 0.75rem;
     
      box-sizing: border-box;

      pointer-events: none;
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      transition: opacity 0.3s;
    } */
    /* #why-choose-440 .cs-item:hover {
      background-color: #fff;
      transform: translateY(-0.4375rem);
      border-color: var(--primary);
    } */
    #why-choose-440 .cs-item:hover:before {
      opacity: 1;
    }
    #why-choose-440 .cs-link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #why-choose-440 .cs-picture{
      /* 40px - 72px */
      width: clamp(2.5rem, 6.5vw, 4.5rem);
      /* 40px - 72px */
      height: clamp(2.5rem, 6.5vw, 4.5rem);
      margin: 0;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      
      position: relative;
      z-index: 1;
    }
    #why-choose-440 .cs-picture svg {
        color: var(--primary);
    }
    #why-choose-440 .cs-icon {
      /* 24px - 32px */
      height: clamp(1.5rem, 2vw, 2rem);
      width: auto;
    }
    #why-choose-440 .cs-number {
      font-size: var(--headerFontSize);
      font-weight: 400;
      text-align: center;
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 0.25rem;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #why-choose-440 .cs-desc {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      text-align: center;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-choose-440 .cs-container {
      max-width: 80rem;
    }
    #why-choose-440 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
    }
    #why-choose-440 .cs-item {
      width: 100%;
      max-width: 25.8125rem;
    }
  }
</style>

