---
import QuickData from "../../../data/benefits-about.json";
---

<section class="cs-container">
  <div class="sm:py-20">
    <div class="column sm:flex flex-row justify-between">
      <h2 class="cs-title">
        What Is Sales Sigma?
      </h2>
      <div>
        <p class="text-2xl sm:max-w-2xl font-semibold">
          Sales Sigma simplifies sales by aligning values and positioning
        </p>
        <p class="text-2xl sm:max-w-2xl">
          Sales Sigma is a sales training program that integrates strategic positioning with personal identity alignment. Unlike traditional sales programs, Sales Sigma focuses on a holistic approach that cuts the time and effort it takes to close deals, reduces stress, and aligns individual values with corporate goals.
        </p>
      </div>
      

      <!-- <a href="http://" class="font-semibold">See more</a> -->
    </div>
  </div>
</section>

<style>
  @media only screen and (min-width: 0rem) {
    .card-text svg{
      color: var(--primary);;
    }
    .cs-title {
      max-width: 30rem;
    }
    .grid-container {
      display: grid;
    }
  }
  @media only screen and (min-width: 48rem) {
    .cs-title {
      font-size: 2rem;
    }
    .grid-container {
      grid-template-columns: 1fr 2fr;
      gap: 7.5rem;
    }
    .update-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  }
</style>
