---
const { title, link } = Astro.props;
---

<a href={link} class="cs-button-transparent">
  {title}
</a>
<style>
 .cs-button-transparent {
      font-size: 1rem;
      /* 46px - 56px */
      text-decoration: none;
      font-weight: 400;
      text-align: center;
      margin: 0;
      min-width: 9.375rem;
      background-color: transparent;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;
      border-style: solid;
      border-color: #b0c929;
      border-radius: 8px;
      padding: 16px 032px 016px 032px;
    }
    .cs-button-transparent:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: var(--buttonColor);
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
      border-radius: 8px;
    }
    .cs-button-transparent:after {
      /* border */
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      border: 1px solid #b0c929;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
      pointer-events: none;
      border-radius: 8px;
    }
    .cs-button-transparent:hover {
      color: var(--headerColor);
    }
    .cs-button-transparent:hover:before {
      width: 100%;
    }

</style>